<div class="wrap">
  <a *ngIf="parentIdea" class="tweet-card">
    <p class="tweet-text">
      {{ parentIdea.idea_text }}
    </p>
    <span class="idea-date">{{ parentIdea.date }}</span>
  </a>
  <a class="tweet-card target-idea">
    <p class="tweet-text">
      {{ idea.idea_text }}
    </p>
    <span class="idea-date">{{ idea.date }}</span>
  </a>
  <a *ngFor="let idea of mentionIdeas" class="tweet-card">
    <p *ngIf="idea" class="tweet-text">
      {{ idea.idea_text }}
    </p>
    <span *ngIf="idea" class="idea-date">{{ idea.date }}</span>
  </a>
</div>
