<div class="wrap">
  <a *ngFor="let idea of parentIdeas" class="tweet-card">
    <p class="tweet-text">
      {{ idea.idea_text }}
    </p>
    <span class="idea-date">{{ idea.date }}</span>
  </a>
  <a class="tweet-card target-idea">
    <p class="tweet-text">
      {{ idea.idea_text }}
    </p>
    <span class="idea-date">{{ idea.date }}</span>
  </a>
  <a *ngFor="let idea of mentionIdeas" class="tweet-card">
    <p class="tweet-text">
      {{ idea.idea_text }}
    </p>
    <span class="idea-date">{{ idea.date }}</span>
  </a>
</div>
